/* Home */
.home {
  @include flex(column);

  .logo {
    height: 128px;
    width: 128px;
  }

  .slogan {
    padding: 24px 0;
    background-image: linear-gradient(92deg, #0af, #0af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 12s infinite linear;
  }

  .jumbotron {
    padding: 32px 0 64px;
    line-height: 40px;
    font-size: 20px;
  }

  .start {
    padding: 32px 0;

    &-text {
      padding: 32px 0;
      font-size: 24px;

      // Test Sass Variable
      color: $active;
    }
  }
}
